@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Slackside One";
  src: url("/fonts/Slackside_One/SlacksideOne-Regular.ttf") format("truetype");
}

.slackside-one {
  font-family: "Slackside One";
}